.game_home_input_container {
  display: flex;
  flex-direction: column;
}

.global_mobile_container {
  width: 300px;
  height: 52px;
}

.game_home_input_container {
  display: flex;
  align-items: center;
}

input {
  width: 380px;
  height: 62px;
}

button {
  width: 380px;
  height: 78px;
}
