@font-face {
  font-family: "Bazzi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-4Regular";
}

.game_home_container {
  color: #29433a;

  width: 100%;
  height: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game_contents_container {
  margin-top: 0%;
  height: 600px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game_first_sentence {
  width: 100%;
  margin-top: 15%;

  font-size: 17px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game_please {
  max-width: 62%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_your_name {
  width: 100%;
  height: fit-content;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game_warning {
  font-size: 15px;
  color: #fbf3c9;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_your_name input {
  width: 90%;
  height: 70px;

  color: #29433a;
  font-size: 18px;
  border: 2px solid #29433a;
  outline: none;
  text-align: center;
}

.game_button_container_container {
  width: 100%;

  margin-bottom: 20%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
}

.game_button_container {
  position: relative;
  width: 90%;
}

.game_home_button_behind {
  position: absolute;
  bottom: -6px;

  width: 100%;
  height: 24px;

  background: #ffdb7e;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 0;
}

.game_home_button_button {
  position: relative;

  width: 100%;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;

  background: #fbf3c9;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 1;
}
