.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "S-CoreDream-4Regular";
  text-align: center;
  color: #29433a;
}

.result_resultvalue_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.result_resultvalue_backgroundshape {
  position: absolute;

  width: 90%;
  height: 150px;

  margin-top: 42px;

  background: #67b54c;
  border: 2px solid #29433a;
  box-sizing: border-box;
  border-radius: 10px;

  z-index: 0;
}

.result_resultvalue_ballon {
  position: relative;

  width: 100%;
  height: 150px;

  margin-top: 36px;
  margin-bottom: 36px;

  background: #a5c379;
  border: 2px solid #29433a;
  border-radius: 10px;

  z-index: 3;
}

.result_resultvalue_ballon::after {
  content: "";
  position: absolute;

  border-top: 20px solid #a5c379;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;

  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

.result_resultvalue_ballon::before {
  content: "";
  position: absolute;
  border-top: 20px solid #29433a;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;

  bottom: -33px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.result_resultvalue_text_container {
  position: absolute;

  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 4;
}

.result_resultvalue_text_fixed {
  font-size: 20px;
  line-height: 160%;
}

.result_resultvalue_text_value {
  font-size: 36px;
  line-height: 160%;
  font-family: "S-CoreDream-6Bold";
}

.result_image_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 90%;
}

.result_image_shadow {
  position: absolute;

  bottom: 0px;

  width: 70%;
  height: 65px;
  border-radius: 50%;
  background-color: #ffdb7e;

  z-index: 1;
}

.result_image_animal {
  width: 100%;

  z-index: 2;
}

.result_textbox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  width: 90%;

  margin-top: 60px;
  margin-bottom: 60px;
}

.result_textbox_maintext_container {
  font-size: 24px;
  line-height: 160%;
  font-family: "S-CoreDream-6Bold";

  width: 100%;
}

.result_textbox_maintext_01 {
  font-size: 24px;
  line-height: 160%;
  font-family: "S-CoreDream-6Bold";

  width: 100%;
}

.result_textbox_maintext_02 {
  font-size: 24px;
  line-height: 160%;
  font-family: "S-CoreDream-6Bold";
  margin-bottom: 24px;

  width: 100%;
}

.result_textbox_subtext {
  font-size: 18px;
  line-height: 180%;

  width: 95%;
}

.result_othersresult_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  position: relative;

  margin-top: 120px;
  margin-bottom: 60px;

  width: 100%;
}

.result_othersresult_backgroundshape {
  position: absolute;
  width: 90%;
  height: 150px;

  margin-top: 6px;

  background: #ffdb7e;
  border: 2px solid #29433a;
  box-sizing: border-box;
  border-radius: 10px;

  z-index: 0;
}

.result_othersresult_ballon {
  position: relative;

  width: 90%;
  height: 150px;

  margin-top: 0px;
  margin-bottom: 24px;

  background: #fbf3c9;
  border: 2px solid #29433a;
  border-radius: 10px;

  z-index: 3;
}

.result_othersresult_ballon::after {
  content: "";
  position: absolute;

  border-top: 20px solid #fbf3c9;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;

  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

.result_othersresult_ballon::before {
  content: "";
  position: absolute;

  border-top: 20px solid #29433a;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;

  bottom: -33px;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.result_othersresult_text_container {
  position: absolute;

  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 4;
}

.result_othersresult_text {
  font-size: 20px;
  line-height: 160%;
}

.result_dasup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  width: 100%;

  margin-top: 60px;
  margin-bottom: 60px;

  font-family: "S-CoreDream-4Regular";
  text-align: center;
  color: #29433a;
}

.result_dasup_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_dasup_text {
  width: 100%;
  font-size: 15pt;
}

.result_dasup_dasupbtn_container {
  position: relative;
  width: 90%;
}

.result_dasup_dasupbtn_behind {
  position: absolute;
  bottom: -6px;

  width: 100%;
  height: 24px;

  background: #67b54c;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 0;
}

.result_dasup_dasupbtn_btn {
  position: relative;

  width: 100%;

  padding-top: 24px;
  padding-bottom: 24px;

  background: #a5c379;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 1;
}

.result_home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  width: 100%;
  height: max-content;

  margin-top: 60px;
  margin-bottom: 60px;

  font-family: "S-CoreDream-4Regular";
  text-align: center;
  color: #29433a;
}

.result_home_text {
  width: 90%;
  font-size: 15pt;
}

.result_home_homebtn_container {
  position: relative;
  width: 90%;
}

.result_home_homebtn_behind {
  position: absolute;
  bottom: -6px;

  width: 100%;
  height: 24px;

  background: #67b54c;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 0;
}

.result_home_homebtn_btn {
  position: relative;

  width: 100%;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;

  background: #a5c379;
  border: 2px solid #29433a;
  box-sizing: content-box;
  border-radius: 10px;
  font-size: 15pt;

  z-index: 1;
}
